/* Your CSS styles here */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #0A2558;
}

.container {
    max-width: 1200px;
    width: 100%;
    background: white;
    padding: 20px;
    border-radius: 5px;
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 50px;
    background: #0A2558;
}

.unread-count {
    background-color: #f00;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 10px;
}

.messages-list {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.messages-list th{
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: left;
    background-color: #0A2558;
    color: white;
    font-weight: bold;
}


.messages-list td {
    padding: 5px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}


.message-item:hover {
    background-color: #f5f5f5;
    cursor: pointer;

}

.unread {
    font-weight: bold;
}
.message-item.read {
    font-weight: normal;
}


@media (max-width: 584px) {
    .container {
        max-width: 100%;
    }
}
.Discription {
    /* display: none; */
    padding-top: 10px;
    overflow: hidden;
     text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 500px;
}

.delete-btn,.reply-btn{
    outline: none;
    color: #fff;
    border: none;
    margin: 1px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    background: #0A2558;
    padding: 8px 20px;
    justify-content: center;
    position: relative;
    display: inline;
    border: 1px solid #0A2558;
  }
  .delete-btn:hover {
    color: #0A2558;
    background: #fff;
    border: 1px solid #0A2558;
    cursor: pointer;
  }

  .reply-btn:hover {
    color: #0A2558;
    background: #fff;
    border: 1px solid #0A2558;
    cursor: pointer;
  }