.home-content .overview-boxes .box{
  width: calc(100% / 4 - 15px);
}



@media (max-width: 1400px) {
  .home-content .overview-boxes .box{
    width: calc(100% / 2 - 15px);
    margin-bottom: 15px;
  }
}

@media (max-width: 830px) {
  .home-content .overview-boxes .box{
    width: 100%;
    margin-bottom: 15px;
  }
}
