/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 240px;
    background: #0A2558;
    transition: all 0.5s ease;
}

.sidebar.active {
    width: 60px;
}

.sidebar .logo-details {
    height: 80px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.sidebar .logo-details i {
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    min-width: 60px;
    text-align: center
}

.sidebar .logo-details .logo_name {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}

.sidebar .nav-links {
    margin-top: 10px;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    height: 50px;
}

.sidebar .nav-links li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li a.active {
    background: #081D45;
}

.sidebar .nav-links li a:hover {
    background: #081D45;
}

.sidebar .nav-links li i {
    min-width: 60px;
    text-align: center;
    font-size: 18px;
    color: #fff;
}

.sidebar .nav-links li a .links_name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
}

.sidebar .nav-links .log_out {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.home-section {
    position: relative;
    background: #f5f5f5;
    min-height: 100vh;
    width: calc(100% - 240px);
    left: 240px;
    transition: all 0.5s ease;
}

.sidebar.active~.home-section {
    width: calc(100% - 60px);
    left: 60px;
}

.home-section nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background: #fff;
    display: flex;
    align-items: center;
    position: fixed;
    width: calc(100% - 240px);
    left: 240px;
    z-index: 100;
    padding: 0 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}

.sidebar.active~.home-section nav {
    left: 60px;
    width: calc(100% - 60px);
}

.home-section nav .sidebar-button {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
}

nav .sidebar-button i {
    font-size: 35px;
    margin-right: 10px;
}

.home-section nav .search-box {
    position: relative;
    height: 50px;
    max-width: 550px;
    width: 100%;
    margin: 0 20px;
}

nav .search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    background: #F5F6FA;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    font-size: 18px;
    padding: 0 15px;
}

nav .search-box .bx-search {
    position: absolute;
    height: 40px;
    width: 40px;
    background: #2697FF;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    transition: all 0.4 ease;
}

.home-section nav .profile-details {
    display: flex;
    align-items: center;
    background: #F5F6FA;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    height: 50px;
    min-width: 190px;
    padding: 0 15px 0 2px;
}

nav .profile-details img {
    height: 40px;
    width: 40px;
    border-radius: 6px;
    object-fit: cover;
}

nav .profile-details .user_name {
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin: 0 10px;
    white-space: nowrap;
}

nav .profile-details i {
    font-size: 25px;
    color: #333;
}

.home-section .home-content {
    position: relative;
    padding-top: 104px;
}

.home-content .overview-boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
    margin-bottom: 26px;
}

.overview-boxes .box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 4 - 15px);
    background: #fff;
    padding: 15px 14px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.overview-boxes .box-topic {
    font-size: 20px;
    font-weight: 500;
}

.home-content .box .number {
    display: inline-block;
    font-size: 35px;
    margin-top: -6px;
    font-weight: 500;
}

.home-content .box .indicator {
    display: flex;
    align-items: center;
}

.home-content .box .indicator i {
    height: 20px;
    width: 20px;
    background: #8FDACB;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    margin-right: 5px;
}

.box .indicator i.down {
    background: #e87d88;
}

.home-content .box .indicator .text {
    font-size: 12px;
}

.home-content .box .cart {
    display: inline-block;
    font-size: 32px;
    height: 50px;
    width: 50px;
    background: #cce5ff;
    line-height: 50px;
    text-align: center;
    color: #66b0ff;
    border-radius: 12px;
    margin: -15px 0 0 6px;
}

.home-content .box .cart.two {
    color: #2BD47D;
    background: #C0F2D8;
}

.home-content .box .cart.three {
    color: #ffc233;
    background: #ffe8b3;
}

.home-content .box .cart.four {
    color: #e05260;
    background: #f7d4d7;
}

.home-content .total-order {
    font-size: 20px;
    font-weight: 500;
}

.home-content .detail-boxes {
    display: flex;
    justify-content: space-between;
    /* padding: 0 20px; */
}

/* left box */
.home-content .detail-boxes .recent-res {
    width: 100%;
    background: #fff;
    padding: 20px 30px;
    margin: 0 20px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.home-content .detail-boxes .res-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detail-boxes .box .title {
    font-size: 24px;
    font-weight: 500;
    /* margin-bottom: 10px; */
}

.detail-boxes .res-details li.topic {
    font-size: 20px;
    font-weight: 500;
}

.detail-boxes .res-details li {
    list-style: none;
    margin: 8px 0;
}

.detail-boxes .res-details li a {
    font-size: 18px;
    color: #333;
    font-size: 400;
    text-decoration: none;
}

.detail-boxes .box .button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.detail-boxes .box .button a {
    color: #fff;
    background: #0A2558;
    padding: 4px 12px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.detail-boxes .box .button a:hover {
    background: #0d3073;
}

/* Right box */
.home-content .detail-boxes .recent-payments {
    width: 35%;
    background: #fff;
    padding: 20px 30px;
    margin: 0 10px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.home-content .detail-boxes .payment-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.detail-boxes .box .title {
    font-size: 24px;
    font-weight: 500;

}

.detail-boxes .payment-details li.topic {
    font-size: 20px;
    font-weight: 500;
}

.detail-boxes .payment-details li {
    list-style: none;
    margin: 8px 0;
}

.detail-boxes .payment-details li a {
    font-size: 18px;
    color: #333;
    font-size: 400;
    text-decoration: none;
}

.detail-boxes .box .button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.detail-boxes .box .button a {
    color: #fff;
    background: #0A2558;
    padding: 4px 12px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.detail-boxes .box .button a:hover {
    background: #0d3073;
}

/* Responsive Media Query */
@media (max-width: 1240px) {
    .sidebar {
        width: 60px;
    }

    .sidebar.active {
        width: 220px;
    }

    .home-section {
        width: calc(100% - 60px);
        left: 60px;
    }

    .sidebar.active~.home-section {
        left: 220px;
        width: calc(100% - 220px);
        overflow: hidden;
    }

    .home-section nav {
        width: calc(100% - 60px);
        left: 60px;
    }

    .sidebar.active~.home-section nav {
        width: calc(100% - 220px);
        left: 220px;
    }
}

@media (max-width: 1150px) {
    .home-content .detail-boxes {
        flex-direction: column;
    }

    .home-content .detail-boxes .box {
        width: 100%;
        overflow-x: scroll;
        margin-bottom: 30px;
    }
}

@media (max-width: 1000px) {
    .overview-boxes .box {
        width: calc(100% / 2 - 15px);
        margin-bottom: 15px;
    }
}

@media (max-width: 700px) {

    nav .sidebar-button .dashboard,
    nav .profile-details .user_name,
    nav .profile-details i {
        display: none;
    }

    .home-section nav .profile-details {
        height: 50px;
        min-width: 40px;
    }

    .home-content .detail-boxes .res-details {
        width: 560px;
    }

    .home-content .detail-boxes .payments-details {
        width: 560px;
    }
}

@media (max-width: 550px) {
    .overview-boxes .box {
        width: 100%;
        margin-bottom: 15px;
    }

    .sidebar.active~.home-section nav .profile-details {
        display: none;
    }

}

@media (max-width: 400px) {
    .sidebar {
        width: 0;
    }

    .sidebar.active {
        width: 60px;
    }

    .home-section {
        width: 100%;
        left: 0;
    }

    .sidebar.active~.home-section {
        left: 60px;
        width: calc(100% - 60px);
    }

    .home-section nav {
        width: 100%;
        left: 0;
    }

    .sidebar.active~.home-section nav {
        left: 60px;
        width: calc(100% - 60px);
    }
}










@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
    box-sizing: border-box;
}

body {
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #fd3838 74%);
    min-height: 100vh;
    font-family: 'Fira Sans', sans-serif;
    display: flex;
}

.blog-slider {
    width: 95%;
    position: relative;
    max-width: 800px;
    margin: auto;
    background: #fff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 25px;
    border-radius: 25px;
    height: 400px;
    transition: all 0.3s;
}

@media screen and (max-width: 992px) {
    .blog-slider {
        max-width: 680px;
        height: 400px;
    }
}

@media screen and (max-width: 768px) {
    .blog-slider {
        min-height: 500px;
        height: auto;
        margin: 180px auto;
    }
}

@media screen and (max-height: 500px) and (min-width: 992px) {
    .blog-slider {
        height: 350px;
    }
}

.blog-slider__item {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .blog-slider__item {
        flex-direction: column;
    }
}

.blog-slider__item.swiper-slide-active .blog-slider__img img {
    opacity: 1;
    transition-delay: 0.3s;
}

.blog-slider__item.swiper-slide-active .blog-slider__content>* {
    opacity: 1;
    transform: none;
    transition: all 0.4s;
}

.blog-slider__img {
    width: 300px;
    flex-shrink: 0;
    height: 300px;
    background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
    box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
    border-radius: 20px;
    transform: translateX(-80px);
    overflow: hidden;
}

.blog-slider__img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
    border-radius: 20px;
    opacity: 0.8;
}

.blog-slider__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 0;
    border-radius: 20px;
    transition: all 0.3s;
}

@media screen and (max-width: 992px) {
    .blog-slider__img {
        width: 45%;
    }
}

@media screen and (max-width: 768px) {
    .blog-slider__img {
        transform: translateY(-50%);
        width: 90%;
    }
}

@media screen and (max-width: 576px) {
    .blog-slider__img {
        width: 95%;
    }
}

@media screen and (max-height: 500px) and (min-width: 992px) {
    .blog-slider__img {
        height: 270px;
    }
}

.blog-slider__content {
    padding-right: 25px;
}

@media screen and (max-width: 992px) {
    .blog-slider__content {
        padding-right: 0;
    }
}

@media screen and (max-width: 768px) {
    .blog-slider__content {
        margin-top: -80px;
        text-align: center;
        padding: 0 30px;
    }
}

@media screen and (max-width: 576px) {
    .blog-slider__content {
        padding: 0;
    }
}

.blog-slider__content>* {
    opacity: 0;
    transform: translateY(25px);
    transition: all 0.4s;
}

.blog-slider__code {
    color: #7b7992;
    margin-bottom: 15px;
    display: block;
    font-weight: 500;
}

.blog-slider__title {
    font-size: 24px;
    font-weight: 700;
    color: #0d0925;
    margin-bottom: 20px;
}

.blog-slider__text {
    color: #4e4a67;
    margin-bottom: 30px;
    line-height: 1.5em;
}

.blog-slider__button {
    display: inline-flex;
    background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
    padding: 15px 35px;
    border-radius: 50px;
    color: #fff;
    box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
    text-decoration: none;
    font-weight: 500;
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;
}

@media screen and (max-width: 576px) {
    .blog-slider__button {
        width: 100%;
    }
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
}

.blog-slider__pagination {
    position: absolute;
    z-index: 21;
    right: 20px;
    width: 11px !important;
    text-align: center;
    left: auto !important;
    top: 50%;
    bottom: auto !important;
    transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
    .blog-slider__pagination {
        transform: translateX(-50%);
        left: 50% !important;
        top: 205px;
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 8px 0;
}

.blog-slider__pagination .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    display: block;
    border-radius: 10px;
    background: #062744;
    opacity: 0.2;
    transition: all 0.3s;
}

.blog-slider__pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
    background: #fd3838;
    height: 30px;
    box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
}











.vehicle-card-container,
.vehicle-card-container * {
    box-sizing: border-box;
}

.vehicle-card-container {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

.vehicle-card {
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 40px;
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid #ddd;
    font-size: 18px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .66);
    /* transition: box-shadow 0.2s ease, transform 0.2s ease; */
}

.vehicle-card:hover {
    box-shadow: 0 34px 32px -33px rgba(0, 0, 0, .18);
    /* transform: translate(0px, -3px); */
}

.vehicle-card::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 0.07;
}

/* .vehicle-card:nth-child(2n)::before {
    background-image: linear-gradient(-250deg, #424242, transparent 50%);
} */

/* .vehicle-card-innerbox {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
} */

.vehicle-card-img {
    position: absolute;
    height: 300px;
    width: 400px;
    top: 0;
    left: 0;
    transition: transform 0.2s ease;
}

/* .vehicle-card:nth-child(2n) .vehicle-card-img {
    left: initial;
    right: 0;
} */

/* .vehicle-card:hover .vehicle-card-bar {
    width: 70px;
} */

.vehicle-card-textbox {
    position: absolute;
    top: 7%;
    bottom: 7%;
    left: 430px;
    width: calc(100% - 470px);
    font-size: 17px;
    /* height: 200px */
}

/* .vehicle-card:nth-child(2n) .vehicle-card-textbox {
    left: initial;
    right: 430px;
} */

/* .vehicle-card-textbox::before,
.vehicle-card-textbox::after {
    content: "";
    position: absolute;
    display: block;
    background: #ff0000bb;
    background: #fff;
    top: -20%;
    left: -55px;
    height: 140%;
    width: 60px;
} */

.vehicle-card:nth-child(2n) .vehicle-card-textbox::before {
    display: none;
}

/* .vehicle-card-textbox::after {
    display: none;
    left: initial;
    right: -55px;
} */

/* .vehicle-card:nth-child(2n) .vehicle-card-textbox::after {
    display: block;
} */

/* .vehicle-card-textbox * {
    position: relative;
} */

.vehicle-card-title {
    font-size: 24px;
}

.vehicle-card-subtitle {
    /* font-family: 'Voces', 'Open Sans', arial, sans-serif; */
    color: #888;
}

.vehicle-card-bar {
    left: -2px;
    width: 50px;
    height: 5px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
}

.vehicle-card-blue .vehicle-card-bar {
    background-color: #0088FF;
}

.vehicle-card-blue::before {
    background-image: linear-gradient(-70deg, #0088FF, transparent 50%);
}
/* 
.vehicle-card-blue:nth-child(2n)::before {
    background-image: linear-gradient(-250deg, #0088FF, transparent 50%);
}

.vehicle-card-red .vehicle-card-bar {
    background-color: #D62F1F;
} */
/* 
.vehicle-card-red::before {
    background-image: linear-gradient(-70deg, #D62F1F, transparent 50%);
}

.vehicle-card-red:nth-child(2n)::before {
    background-image: linear-gradient(-250deg, #D62F1F, transparent 50%);
} */
/* 
.vehicle-card-green .vehicle-card-bar {
    background-color: #40BD00;
}

.vehicle-card-green::before {
    background-image: linear-gradient(-70deg, #40BD00, transparent 50%);
}

.vehicle-card-green:nth-child(2n)::before {
    background-image: linear-gradient(-250deg, #40BD00, transparent 50%);
}

.vehicle-card-yellow .vehicle-card-bar {
    background-color: #F5AF41;
}

.vehicle-card-yellow::before {
    background-image: linear-gradient(-70deg, #F5AF41, transparent 50%);
}

.vehicle-card-yellow:nth-child(2n)::before {
    background-image: linear-gradient(-250deg, #F5AF41, transparent 50%);
}

.vehicle-card-orange .vehicle-card-bar {
    background-color: #FF5722;
}

.vehicle-card-orange::before {
    background-image: linear-gradient(-70deg, #FF5722, transparent 50%);
}

.vehicle-card-orange:nth-child(2n)::before {
    background-image: linear-gradient(-250deg, #FF5722, transparent 50%);
}

.vehicle-card-brown .vehicle-card-bar {
    background-color: #C49863;
} */
/* 
.vehicle-card-brown::before {
    background-image: linear-gradient(-70deg, #C49863, transparent 50%);
}

.vehicle-card-brown:nth-child(2n)::before {
    background-image: linear-gradient(-250deg, #C49863, transparent 50%);
}

.vehicle-card-grey .vehicle-card-bar {
    background-color: #424242;
}

.vehicle-card-grey::before {
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
}

.vehicle-card-grey:nth-child(2n)::before {
    background-image: linear-gradient(-250deg, #424242, transparent 50%);
}

.vehicle-card-customcolor .vehicle-card-bar {
    background-color: var(--vehicle-card-color); */
/* } */

/* .vehicle-card-customcolor::before {
    background-image: linear-gradient(-70deg, var(--vehicle-card-color), transparent 50%);
}

.vehicle-card-customcolor:nth-child(2n)::before {
    background-image: linear-gradient(-250deg, var(--vehicle-card-color), transparent 50%);
} */

/* .vehicle-card-description {
    z-index: 10;
    font-size: 15px;
    color: #424242;
    height: 125px;
    overflow: hidden;
    text-overflow: ellipsis;
} */

/* .vehicle-card-tagbox {
    position: absolute;
    bottom: 3%;
    font-size: 14px;
    cursor: default;
    user-select: none;
    pointer-events: none;
} */

/* .vehicle-card-tag {
    display: inline-block;
    background: #E0E0E0;
    color: #777;
    border-radius: 3px 0 0 3px;
    line-height: 26px;
    padding: 0 10px 0 23px;
    position: relative;
    margin-right: 20px;
    cursor: default;
    user-select: none;
    transition: color 0.2s;
}

.vehicle-card-tag::before {
    content: '';
    position: absolute;
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    height: 6px;
    left: 10px;
    width: 6px;
    top: 10px;
}

.vehicle-card-tag::after {
    content: '';
    position: absolute;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #E0E0E0;
    border-top: 13px solid transparent;
    right: -10px;
    top: 0;
} */


.button{
    margin-top: 5px;
}

.button{
    width: 40%;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #0A2558;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover{
    background-color: #265df2;
}
