*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Monterrat,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    display: grid;
    place-items: center;
    height: 100vh;
}

.form {
  width: clamp(300px, 30%, 430px);
  margin: 0 auto;
  border: 1px solid #ccc;
  max-width: 500px;
  padding: 2rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

input {
    display: block;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

.input-group {
  /* display: flex; */
  /* justify-content: space-between; */
  margin: 2rem 0;

}

.btn {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background-color: #555;
}

.width-50 {
  width: 50%;
}

.ml-auto {
  margin-left: auto;
}

.text-center {
  text-align: center;
}

.btns-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.form-setup {
  display: none;
}

.form-step.active {
  display: block;
} 

.progress-bar {
  position: relative;
  display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0 4rem 0;
}

.progress-bar::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 100%;
  height: 4px;
  transform: translateY(-50%);
  background-color: #ccc;
  /* z-index: 1; */

}

.progress-step{
    width: 2.1875rem;
    height: 2.1875rem;
    border-radius: 50%;
    background-color: #ccc;
    z-index: 1;
}

.progress-step::before{
    content: counter(step);
    counter-increment: step;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #fff;
    font-weight: 700;
}

.progress-step::after{
    content: attr(data-title);
    position: absolute;
    top:calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: #555;
    text-align: center;
    justify-content: space-between;
}

.progress-step-active{
    background-color: #333;
}