.dashboard-tables{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.dashboard-tables button{
  display: flex;
  margin-top: 15px;
  justify-content: right;
  float: right;
}

/* left table */
.dashboard-tables .reservation-table{
  width: 65%;
  background: #fff;
  padding: 20px;
  margin-right: 10px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

/* Right box */
.dashboard-tables .payment-table{
  width: 35%;
  background: #fff;
  padding: 20px;
  margin-left: 10px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

table{
  width: 100%;
  overflow: auto;
  table-layout: auto;
  border-collapse: collapse;
  margin-top: 20px;
}

table thead th{
  position: sticky;
  top: 0;
  color: #000;
}

table th, td{
    padding: 10px 8px;
    word-break: break-all;
    text-align: left;
    border: none;
}


@media (max-width: 1000px) {
  .dashboard-tables{
    flex-direction: column;
  }

  .dashboard-tables .reservation-table{
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 30px;
  }

  .dashboard-tables .payment-table{
    width: 50%;
    overflow-x: scroll;
    margin-bottom: 30px;
  }

  .dashboard-tables .payment-table{
    margin-left: 0px;
  }
}

@media (max-width: 650px){
  .dashboard-tables .payment-table{
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 30px;
  }
}