.container{
  width: 100%;
  background: white;
  padding: 25px 20px 25px 20px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container form .req-transport{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 60px;
}

form .req-transport .input-box{
  width: calc(100% / 2 - 20px);
  margin-bottom: 25px;
}

.req-transport .input-box .details{
  font-weight: 500;
  margin-bottom: 8px;
  display: block;
}

.req-transport .input-box input{
  height: 35px;
  width: 100%;
  outline: none;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding-left: 15px;
  padding-right: 10px;
  font-size: 14px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.req-transport .input-box select{
  height: 35px;
  width: 100%;
  outline: none;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 14px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.req-transport .input-box .photo{
  border: none;
}

.req-transport .input-box input:focus{
  border-color: #0A2558;
}

@media (max-width: 584px) {
  .container{
      max-width: 100%;
  }

  form .req-transport .input-box{
      width: 100%;
      margin-bottom: 17px;
  }

  .container form .req-transport{
      max-height: 400px;
      overflow-y: scroll;
  }

  .req-transport::-webkit-scrollbar{
      width: 0;
  }
}

#results {
  margin-top: 20px;
}

.result-item {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.result-buttons {
  display: flex;
  flex-direction: column; /* Display buttons vertically */
  align-items: flex-end; /* Align buttons to the right */
  margin-top: 15px;
}

.request-button,
.details-button {
  padding: 5px 10px;
  background-color: #0A2558;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.request-button:hover,
.details-button:hover {
  background-color: #16449a;
}


.home-content table{
  width: 100%;
  overflow: auto;
  table-layout: auto;
  border-collapse: collapse;

}
td button{
  color: white;
  background-color: #003566;
  padding: 5px 7px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
td button:hover {
  color:#DAA600;
}
thead th {
  position: sticky;
  top: 0;
  background-color: #e7f2fe;
  color: #000;
  border-top: 1px solid #dddddd;
}
th, td {
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  padding: 10px 8px;
  word-break: break-all;
  text-align: center;
  font-size: 15px;
}


@media(max-width: 1410px) {
  table {
      border: 0;
      width: 50px;
  }


  table thead{
      display: none;
  }


  table tr{
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
  }


  table td{
      border-bottom: 1px solid #ddd;
      display: block;
      text-align: right;
  }


  table th{
      border-bottom: 1px solid #ddd;
      display: block;
      text-align: left;
  }


  table td:before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
  }


  table td:last-child { 
      border-bottom: 0; 
  }


  .searchpass {
      width: 100%;
  }

}




.status.reserved {
  padding: 2px 4px;
  background: #8de02c;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.pending {
  padding: 2px 4px;
  background: #e9b10a;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.return {
  padding: 2px 4px;
  background: #f00;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.approved {
  padding: 2px 4px;
  background: #1795ce;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}