.container{
  width: 80%;
  background: white;
  padding: 5px 30px 25px 30px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container form .Find-transport{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px 0 12px 0;
}

form .Find-transport .input-box{
  width: calc(100% / 2 - 20px);
  margin-bottom: 25px;
}

.hide-input {
  display: none;
}

.Find-transport .input-box .details{
  font-weight: 500;
  margin-bottom: 8px;
  display: block;
}

.Find-transport .input-box input{
  height: 35px;
  width: 100%;
  outline: none;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding-left: 15px;
  padding-right: 10px;
  font-size: 14px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.Find-transport .input-box select{
  height: 35px;
  width: 100%;
  outline: none;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 14px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.Find-transport .input-box .photo{
  border: none;
}

.Find-transport .input-box input:focus{
  border-color: #0A2558;
}


@media (max-width: 1000px){
  .container{
    width: 90%;
  }
}

@media (max-width: 850px) {
  .container{
      max-width: 100%;
      height: max-content;
  }

  form .Find-transport .input-box{
      width: 100%;
      margin-bottom: 17px;
  }

  /* .container form .Find-transport{
      max-height: 400px;
      overflow-y: scroll;
  } */

  .Find-transport::-webkit-scrollbar{
      width: 0;
  }
}

@media (max-width: 700px){
  .container{
    margin-top: 10px;
  }
}

#results {
  margin-top: 20px;
}

.result-item {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.result-buttons {
  display: flex;
  flex-direction: column; /* Display buttons vertically */
  align-items: flex-end; /* Align buttons to the right */
  margin-top: 15px;
}

.request-button,
.details-button {
  padding: 5px 10px;
  background-color: #0A2558;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.request-button:hover,
.details-button:hover {
  background-color: #16449a;
}