* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.sidebar {
    width: 260px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #003566;
    z-index: 100;
    /* transition: width 200ms; */
}


#i1 {
    width: 85%;
    margin-top: 2rem;
}


.sidebar-brand {
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
}


.sidebar-brand h3 {
    color: white;
    margin-top: 2rem;
    letter-spacing: 0.3rem;
    text-align: center;
    padding-right: 2rem;
}


.sidebar-menu {
    margin-top: 1rem;
}


.sidebar-menu li {
    width: 100%;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
}


.sidebar-menu a {
    display: block;
    color: white;
    font-size: 1.3rem;
    padding-left: 1rem;
}


.sidebar-menu a.active {
    font-weight: 700;
    margin-top: 9rem;
    color: #DAA600;
}


.sidebar-menu a:hover {
    font-weight: 700;
    color: #DAA600;
}


.sidebar-menu a .material-icons {
    font-size: 1.5rem;
    padding-right: 1rem;
}


#nav-toggle {
    display: fixed;
    /* background-color: #F7F7F7; */
}


#nav-toggle:checked + .sidebar {
    width: 85px;
}


#nav-toggle:checked + .sidebar .sidebar-brand h3,
#nav-toggle:checked + .sidebar li span {
    display: none;
}


#nav-toggle:checked + .sidebar .sidebar-brand img {
    transform: rotate(270deg);
    width: 10rem;
    margin-top: 5rem;
    margin-left: -4rem;
}


#nav-toggle:checked ~ .main-content {
    margin-left: 110px;
    width: calc(100% - 85px);
}


#nav-toggle:checked ~ .main-content header{
    width: calc(100% - 85px);
    left: 85px;
}


.main-content {
    transition: margin-left 200ms;
    margin-left: 300px;
    width: calc(100% - 300px);
}


hr {
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    height: 0.25rem;
    background-color: white;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 0.7rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 260px;
    width: calc(100% - 260px);
    top: 0;
    z-index: 1000;
    transition: left 200ms;
    background-color: white;
}


.btn1 {
    background-color: white;
    border: none;
    padding: 1rem 0rem;
    font-size: 1.1rem;
    cursor: pointer;
}


.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    z-index: 1;
    right: 0;
}


.dropdown-content a {
    color: #4a4a4a;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}


.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown-content a:hover {
    font-weight: 700;
}


/* .search-wrapper {
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 40px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    margin-top: 0.5rem;
}


.search-wrapper i {
    display:flexbox;
    padding: 0rem 1rem;
}


.search-wrapper input {
    height: 100%;
    padding: 0.5rem;
    border: none;
    outline: none;
} */


header h1 {
    font-weight: 400;
    margin-top: 0.5rem;
}


header label i {
    padding-right: 1rem;
}


.user-wrapper {
    display: flex;
    align-items: center;
}


.user-wrapper h4{
    color: #4a4a4a;
    padding-right: 1rem;
}


.user-wrapper i {
    border-radius: 50%;
    margin-right: 0.5rem;
    color: #4a4a4a;
}


main {
    margin-top: 90px;
    /* padding-right: 10px; */
    padding: 2rem 1.5rem;
    min-height: calc(100vh - 90px);
}


.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
    margin-right: 2rem;
    margin-left: -2rem;
}


.card-single {
    display: flex;
    margin-right: 30px;
    justify-content: space-between;
    background: #F7F7F7;
    padding: 1.5rem;
    border-radius: 7px;
    border-left: 0.3rem solid #DAA600;
    /* min-width: 300px; */
}


.card-single span {
    color: #4a4a4a;
    font-size: 16px;
    font-weight: 400;
}


.card-single i {
    font-size: 3rem;
    color: black;
}


.card-single h1 {
    color: #DAA600;
}


.searchpass {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #F7F7F7;
    width: 100%;
    margin-top: 3rem;
    border-left: 5px solid #DAA600;
    border-radius: 5px;
    margin-left: -2rem;
}


.searchpass p {
    color: #003566;
    font-size: larger;
    font-weight: 600;
}


.add-new {
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    color: #003566;
    font-size: 15px;
    background-color: white;
}


input {
    padding: 10px 20px;
    margin: 0 10px;
    outline: none;
    border: 1px solid white;
    border-radius: 5px;
    color: #003566;
}


table {
    width: max-content;
    overflow: auto;
    table-layout: fixed;
    min-width: 1000px;
    border-collapse: collapse;
    margin-top: 2rem;
    margin-left: -2rem;
    border-left: 1px solid #dddddd;
}


th, td {
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    padding: 10px 8px;
    word-break: break-all;
    text-align: center;
}


thead th {
    position: sticky;
    top: 0;
    background-color: #e7f2fe;
    color: #000;
    font-size: 15px;
}


tr:hover td {
    color: #DAA600;
    cursor: pointer;
    background-color: #e7f2fe;
}



@media only screen and (max-device-width: 1260px) {

     .cards {
        display: flex;
        margin-right: 30px;
        /* flex-wrap: wrap; */
     }
     #nav-toggle + .sidebar {
        width: 85px;
    }
    
    
    #nav-toggle + .sidebar .sidebar-brand h3,
    #nav-toggle + .sidebar li span {
        display: none;
    }
    
    
    #nav-toggle + .sidebar .sidebar-brand img {
        transform: rotate(270deg);
        width: 10rem;
        margin-top: 5rem;
        margin-left: -4rem;
    }
    
    
    #nav-toggle ~ .main-content {
        
        margin-left: 120px;
        /* margin-right: 10px; */
    }
    
    
    #nav-toggle ~ .main-content header {
        width: calc(100% - 85px);
        left: 85px;
    }


    table {
        border: 0;
        width: 100%;
    }


    table thead{
        display: none;
    }


    table tr{
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }


    table td{
        border-bottom: 1px solid #ddd;
        display: block;
        text-align: right;
    }


    table th{
        border-bottom: 1px solid #ddd;
        display: block;
        text-align: left;
    }


    table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }


    table td:last-child { 
        border-bottom: 0; 
    }


    .searchpass {
        width: 100%;
    }

}