/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.sidebar{
  position: fixed;
  height: 100%;
  width: 240px;
  background: #0A2558;
  transition: all 0.5s ease;
}
.sidebar.active{
  width: 60px;
}
.sidebar .logo-details{
  height: 80px;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.sidebar .logo-details i{
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  min-width: 60px;
  text-align: center
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}
.sidebar .nav-links{
  margin-top: 10px;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  height: 50px;
}
.sidebar .nav-links li a{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li a.active{
  background: #081D45;
}
.sidebar .nav-links li a:hover{
  background: #081D45;
}
.sidebar .nav-links li i{
  min-width: 60px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
.sidebar .nav-links li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
}
.sidebar .nav-links .log_out{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.home-section{
  position: relative;
  background: #f5f5f5;
  min-height: 100vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section{
  width: calc(100% - 60px);
  left: 60px;
}
.home-section nav{
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #fff;
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section nav{
  left: 60px;
  width: calc(100% - 60px);
}
.home-section nav .sidebar-button{
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}
nav .sidebar-button i{
  font-size: 35px;
  margin-right: 10px;
}
/* .home-section nav .search-box{
  position: relative;
  height: 50px;
  max-width: 550px;
  width: 100%;
  margin: 0 20px;
}
nav .search-box input{
  height: 100%;
  width: 100%;
  outline: none;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
}
nav .search-box .bx-search{
  position: absolute;
  height: 40px;
  width: 40px;
  background: #2697FF;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  transition: all 0.4 ease;
} */
.home-section nav .profile-details{
  cursor: pointer;
}
.home-section nav .profile-details ul li{
  display: block;
}
.home-section nav .profile-details .dropdown-list{
  width: 10%;
  position: absolute;
  z-index: 999;
  display: none;
  margin-top: 135px;
  margin-right: 180px;
  background: #F5F6FA;
  border-radius: 10px;
  margin-left: -4px;
}
.home-section nav .profile-details .dropdown-list li a{
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  margin: 12px 0;
  padding-left: 5px;
}
.home-section nav .profile-details:hover ul.dropdown-list{
  display: block;
}
.home-section nav .profile-details{
  display: flex;
  align-items: center;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  height: 50px;
  min-width: 190px;
  padding: 0 15px 0 2px;
}
nav .profile-details img{
  height: 40px;
  width: 40px;
  border-radius: 6px;
  object-fit: cover;
}
nav .profile-details .user_name{
  font-size: 15px;
  font-weight: 500;
  color: #333;
  margin: 0 10px;
  white-space: nowrap;
}
nav .profile-details i{
  font-size: 25px;
  color: #333;
}


.home-section .home-content{
  position: relative;
  padding-top: 50px;
  padding-left: 1rem;
  padding-right: 1rem;
}
.home-content .overview-boxes{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 26px;
  margin-top: 26px;
}
.overview-boxes .box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #fff;
  padding: 15px 14px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.overview-boxes .box-topic{
  font-size: 20px;
  font-weight: 500;
  margin-right: 10px;
}
.home-content .box p{
    color: #003566;
    font-size: larger;
    font-weight: 600;
}
.home-content .box .add-new{
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    color: #003566;
    font-size: 15px;
    background-color: white;
}
.home-content .box input{
    padding: 10px 20px;
    margin: 0 10px;
    outline: none;
    border: 1px solid white;
    border-radius: 5px;
    color: #003566;
    background-color: #eef3f9;
}

.home-content .detail-boxes{
  display: flex;
  justify-content: space-between;
  /* padding: 0 20px; */
}
.home-content table{
    width: 100%;
    overflow: auto;
    table-layout: auto;
    border-collapse: collapse;

}
td button{
    color: white;
    background-color: #003566;
    padding: 5px 7px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
td button:hover {
    color:#DAA600;
}
thead th {
    position: sticky;
    top: 0;
    background-color: #e7f2fe;
    color: #000;
    border-top: 1px solid #dddddd;
}
th, td {
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    padding: 10px 8px;
    word-break: break-all;
    text-align: center;
    font-size: 15px;
}
/* absent form */

.container{
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding-top: 60px;
  padding-bottom: 60px;
}

.container .title{
  margin-top: 10px;
  font-size: 24px;
  font-weight: 500;
}

.container form{
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 10px 15px rgba(0,0,0,.1);
  padding: 20px;
  width: flex;
  min-width: 500px;
}

.container form .inputBox{
  margin-top: 20px;
}

.container form .inputBox span{
  display: block;
  color:#999;
  padding-bottom: 5px;
}

.container form .inputBox input,
.container form .inputBox select{
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border:1px solid rgba(0,0,0,.3);
  color:#444;
}

.container form .flexbox{
  display: flex;
  gap:15px;
}

.container form .flexbox .inputBox{
  flex:1 1 150px;
}

.container form .submit-btn{
  width: 100%;
  background: #081D45;
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
  color:#fff;
  border-radius: 10px;
  cursor: pointer;
  transition: .2s linear;
}

.container form .submit-btn:hover{
  letter-spacing: 2px;
  opacity: .8;
}


/* Responsive Media Query */
@media (max-width: 1240px) {
  .sidebar{
    width: 60px;
  }
  .sidebar.active{
    width: 220px;
  }
  .home-section{
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section{
    left: 220px;
    width: calc(100% - 220px);
    overflow: hidden;
  }
  .home-section nav{
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section nav{
    width: calc(100% - 220px);
    left: 220px;
  }
}
@media (max-width: 1150px) {
  .home-content .detail-boxes{
    flex-direction: column;
  }
  .home-content .detail-boxes .box{
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 30px;
  }
}
@media (max-width: 400px) {
  .overview-boxes .box{
    width: calc(100% / 2 - 15px);
    margin-bottom: 15px;
  }
  .overview-boxes .box input{
    width: calc(100% - 15px);
    margin-bottom: 15px;
  }
  
}
@media (max-width: 700px) {
  nav .sidebar-button .dashboard,
  nav .profile-details .user_name,
  nav .profile-details i{
    display: none;
  }
  .home-section nav .profile-details{
    height: 50px;
    min-width: 40px;
  }
  .home-content .detail-boxes .res-details{
    width: 560px;
  }
  .home-content .detail-boxes .payments-details{
    width: 560px;
  }
}
@media (max-width: 630px) {
  .overview-boxes .box{
    width: 100%;
    margin-bottom: 15px;
  }
  .sidebar.active ~ .home-section nav .profile-details{
    display: none;
  }

}
@media (max-width: 400px) {
  .sidebar{
    width: 0;
  }
  .sidebar.active{
    width: 60px;
  }
  .home-section{
    width: 100%;
    left: 0;
  }
  .sidebar.active ~ .home-section{
    left: 60px;
    width: calc(100% - 60px);
  }
  .home-section nav{
    width: 100%;
    left: 0;
  }
  .sidebar.active ~ .home-section nav{
    left: 60px;
    width: calc(100% - 60px);
  }
}

@media(max-width: 1410px) {
    table {
        border: 0;
        width: 50px;
    }


    table thead{
        display: none;
    }


    table tr{
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }


    table td{
        border-bottom: 1px solid #ddd;
        display: block;
        text-align: right;
    }


    table th{
        border-bottom: 1px solid #ddd;
        display: block;
        text-align: left;
    }


    table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }


    table td:last-child { 
        border-bottom: 0; 
    }


    .searchpass {
        width: 100%;
    }

}


.status.reserved {
  padding: 2px 4px;
  background: #8de02c;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.pending {
  padding: 2px 4px;
  background: #e9b10a;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.return {
  padding: 2px 4px;
  background: #f00;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.approved {
  padding: 2px 4px;
  background: #1795ce;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}