.containers{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.containers .card-header{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
}

.dashboard-tables button{
  display: flex;
  margin-top: 15px;
  justify-content: right;
  float: right;
}

.map{
  width: 55%;
  background: #fff;
  display:grid;
  justify-content: center;
  padding: 30px;
  margin: 0 10px 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.map .map-view{
  width: 100%;
}

.map .desc{
  color: #6b6a6a;
}

.payment-table{
  width: 45%;
  background: #fff;
  padding: 30px;
  margin-left: 10px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.payment-table table{
  width: 100%;
  overflow: auto;
  table-layout: auto;
  border-collapse: collapse;
  margin-top: 20px;
}

.payment-table table thead th{
  position: sticky;
  top: 0;
  color: #000;
}

.payment-table table th, td{
  padding: 10px 8px;
  word-break: break-all;
  text-align: left;
  border: none;
}

@media(max-width: 1450px){
  .containers{
    flex-direction: column;
  }

  .map{
    width: 100%;
  }

  .payment-table{
    margin-left: 0;
    width: 75%;
    margin-top: 30px;
  }
}


/* Footer styles */
footer {
  background-color: #003566;
  color: white;
  text-align: center;
  padding: 1rem 0;
}
