.containers{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.containers .card-header{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
}

.dashboard-tables button{
  display: flex;
  margin-top: 15px;
  justify-content: right;
  float: right;
}

.map{
  width: 55%;
  background: #fff;
  display:grid;
  justify-content: center;
  padding: 30px;
  margin: 0 10px 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.map .map-view{
  width: 100%;
}

.map .desc{
  color: #6b6a6a;
}

.payment-table{
  width: 45%;
  background: #fff;
  padding: 30px;
  margin-left: 10px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.payment-table table{
  width: 100%;
  overflow: auto;
  table-layout: auto;
  border-collapse: collapse;
  margin-top: 20px;
}

.payment-table table thead th{
  position: sticky;
  top: 0;
  color: #000;
}

.payment-table table th, td{
  padding: 10px 8px;
  word-break: break-all;
  text-align: left;
  border: none;
}

@media(max-width: 1450px){
  .containers{
    flex-direction: column;
  }

  .map{
    width: 100%;
  }

  .payment-table{
    margin-left: 0;
    width: 75%;
    margin-top: 30px;
  }
}


    .home-section nav .profile-details{
      cursor: pointer;
    }
    .home-section nav .profile-details ul li{
      display: block;
    }
    .home-section nav .profile-details .dropdown-list{
      width: 10%;
      position: absolute;
      z-index: 999;
      display: none;
      margin-top: 135px;
      margin-right: 180px;
      background: #F5F6FA;
      border-radius: 10px;
      margin-left: -4px;
    }
    .home-section nav .profile-details .dropdown-list li a{
      text-decoration: none;
      color: #000;
      display: flex;
      align-items: center;
      margin: 12px 0;
      padding-left: 5px;
    }
    .home-section nav .profile-details:hover ul.dropdown-list{
      display: block;
    }
    /* Add this CSS to your existing styles */
.owner-profile {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 200px;
}

.owner-profile h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.profile-details {
  display: flex;
  align-items: center;
}


.profile-info {
  margin-left: 50px;
}
.profile-info h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.profile-info p {
  font-size: 16px;
  color: #888;
}

    
/* Responsive Media Query */
@media (max-width: 1240px) {
  .sidebar{
    width: 60px;
  }
  .sidebar.active{
    width: 220px;
  }
  .home-section{
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section{
    left: 220px;
    width: calc(100% - 220px);
    overflow: hidden;
  }
  .home-section nav{
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section nav{
    width: calc(100% - 220px);
    left: 220px;
  }
}
@media (max-width: 1150px) {
  .home-content .detail-boxes{
    flex-direction: column;
  }
  .home-content .detail-boxes .box{
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 30px;
  }
}
@media (max-width: 1000px) {
  .overview-boxes .box{
    width: calc(100% / 2 - 15px);
    margin-bottom: 15px;
  }
}
@media (max-width: 700px) {
  nav .sidebar-button .dashboard,
  nav .profile-details .user_name,
  nav .profile-details i{
    display: none;
  }
  .home-section nav .profile-details{
    height: 50px;
    min-width: 40px;
  }
  .home-content .detail-boxes .res-details{
    width: 560px;
  }
  .home-content .detail-boxes .payments-details{
    width: 560px;
  }
}
@media (max-width: 550px) {
  .overview-boxes .box{
    width: 100%;
    margin-bottom: 15px;
  }
  .sidebar.active ~ .home-section nav .profile-details{
    display: none;
  }

}
@media (max-width: 400px) {
  .sidebar{
    width: 0;
  }
  .sidebar.active{
    width: 60px;
  }
  .home-section{
    width: 100%;
    left: 0;
  }
  .sidebar.active ~ .home-section{
    left: 60px;
    width: calc(100% - 60px);
  }
  .home-section nav{
    width: 100%;
    left: 0;
  }
  .sidebar.active ~ .home-section nav{
    left: 60px;
    width: calc(100% - 60px);
  }
}
.searchpass {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #dddada;
  width: 100%;
  margin-top: 3rem;
  border-left: 5px solid #DAA600;
  border-radius: 5px;
  margin-left: 0rem;
  margin-right: -200rem;
}


.searchpass p {
  color: #003566;
  font-size: larger;
  font-weight: 600;
}


input {
  padding: 10px 20px;
  margin: 0 10px;
  outline: none;
  border: 1px solid white;
  border-radius: 5px;
  color: #003566;
}


/* table {
  width: 95%;
  overflow: auto;
  table-layout: fixed;
  min-width: 1000px;
  border-collapse: collapse;
  margin-top: 2rem;
  margin-left: 1.5rem;
  border-left: 1px solid #dddddd;
  table-layout: auto;
}


th, td {
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding: 10px 8px;
  word-break: break-all;
  text-align: center;
}


thead th {
  position: sticky;
  top: 0;
  background-color: #e7f2fe;
  color: #000;
  font-size: 15px;
}


tr:hover td {
  color: #DAA600;
  cursor: pointer;
  background-color: #e7f2fe;
}


td button{
  color: white;
  background-color: #003566;
  padding: 5px 7px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}


td button:hover {
  color:#DAA600;
  background-color: white;
  border: #003566 solid 1px;
  font-weight: 600;
}
 */
/* Footer styles */
footer {
  background-color: #003566;
  color: white;
  text-align: center;
  padding: 1rem 0;
}
/*   */
@media only screen and (max-device-width: 1260px) {
  table {
      border: 0;
      width: 100%;
  }


  table thead{
      display: none;
  }


  table tr{
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
  }


  table td{
      border-bottom: 1px solid #ddd;
      display: block;
      text-align: right;
  }


  table th{
      border-bottom: 1px solid #ddd;
      display: block;
      text-align: left;
  }


  table td:before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
  }


  table td:last-child { 
      border-bottom: 0; 
  }


  .searchpass {
      width: 100%;
  }
  /* Reset some default styles */
}  