body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #dfdede;
}

.enter-pass{
    width: 35%;
    background: white;
    padding: 40px 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

p{
    color: rgb(43, 43, 43);
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 20px;
}

form{
    margin-top: 50px;
}

.details{
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.enter-pass form input{
    height: 40px;
    width: 70%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 14px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    margin-bottom: 15px;
}

.enter-pass form input:focus{
    border-color: #0A2558;
}

.buttons{
    margin-top: 30px;
}

@media (max-width: 1260px){
    .enter-pass{
        width: 50%;
    }
}

@media (max-width: 990px){
    .enter-pass{
        width: 70%;
    }
}