body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #dfdede;
}

.container{
    width: 50%;
    background: white;
    padding: 30px 30px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.container .card-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
}

.container .card-header button{
    display: flex;
    justify-content: right;
    float: right;
}

.container .sub-topic{
    font-size: 18px;
    font-weight: 500;
    position: relative;
    color: #0A2558;
}

.profile-photo, .edit, .passw{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0 10px 0;
}

label{
    font-size: 13.33px;
}

.container form .pass-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .pass-details .input-box{
    width: calc(100% / 2 - 20px);
    margin-bottom: 17px;
}

.pass-details .input-box .details{
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
    font-size: 14px;
}

.pass-details .input-box input{
    height: 32px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 14px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.pass-details .input-box input:focus{
    border-color: #0A2558;
}

.card img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 10px 0; 
    object-fit: cover;
}

#pic{
    display: none;
}

.card input{
    width: 180px;
    height: 180px;
}



@media (max-width: 1000px) {
    .container{
        width: 90%;
        height: max-content;
    }
}
