@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
    --primary-color: #ffd302;
    --secondary-color: #111111;
    --secondary-color-light: #232220;
    --text-light: #a3a3a3;
    --white: #ffffff;
    --black: #000000;
    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
  text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    color: var(--white);
}

/* nav bar css */
nav {
    max-width: var(--max-width);
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    /* position: fi; */
}

.nav_logo a{
    font-size: 2rem;
    font-weight: 700;
    color: var(--white);
}

.nav_links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.link a {
    padding: 5px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--white);
    transition: 0.3s;
}

.link a:hover {
    color: var(--primary-color);
}

/* section css */
.section_container {
    max-width: 90%;
    margin: auto;
    padding: 5rem 1rem;
}

.section_header {
    font-size: 2.5rem;
    font-weight: 600;
}


/* header css */
header {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.8)
      ),
      url("../images/login.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
.header_container {
    padding-block: 5rem 12rem;
}

.header_container h1 {
    max-width: 900px;
    margin-inline: auto;
    margin-bottom: 2rem;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}

.header_container .btn {
    align-items: center;
    margin: 10px;
}

.section_container {
    max-width: 90%;
    margin: auto;
    padding: 5rem 1rem;
}

.section_header {
    font-size: 2.5rem;
    font-weight: 600;
}

.section_subheader {
    position: relative;
    isolation: isolate;
    margin-bottom: 1rem;
    padding-left: 20px;
    font-size: 1.2rem;
    font-weight: 500;
}

.section_subheader::after {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 45px;
    aspect-ratio: 1;
    background-color: var(--primary-color);
    z-index: -1;
}

.btn {
    display: flexbox;
    align-items: center;
    gap: 10px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 0.75rem 1.5rem;
    outline: none;
    font-size: 1rem;
    color: var(--white);
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn_secondary {
    background-color: transparent;
    border: 1px solid var(--white);
  }
  
  .btn_primary {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }
  
  .btn span {
    font-size: 1.2rem;
    transition: 0.3s;
  }
  
  .btn:hover span {
    transform: translateX(5px);
  }

  /* transport css */
  .transport {
    background-color: var(--black);
  }
  .transport_container {
    display: grid;
    grid-template-columns: repeat(2, 60% 40%);
    gap: 5rem;
  }
  .transport_content .section__header {
    margin-bottom: 1rem;
  }
  
  .transport_content .para {
    margin-bottom: 2rem;
    color: var(--text-light);
  }
  
  .transport_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  
  .transport_card span {
    font-size: 1.75rem;
    color: var(--primary-color);
  }
  
  .transport_card h4 {
    font-size: 2rem;
    font-weight: 700;
  }
  
  .transport_card p {
    font-weight: 500;
  }
  
  .transport_image {
    display: grid;
    gap: 2rem;
  }
  
  .transport_image img {
    max-width: 450px;
    max-height: 250px;
    margin: auto;
    border-radius: 5px;
    /* border: 1px solid var(--primary-color); */
  }






  /* ------------------------- */
  .banner1 {
    height: 100vh;
    vertical-align: middle;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url("../images/transport1\ \(1\).jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .banner_container {
    
    vertical-align: middle;
    max-width: 80%;
    /* margin: auto; */
  }
  .banner_content{
    margin-bottom: 1rem;
    /* padding-bottom: 1rem; */
  }
  
  .banner_content .para {
    /* max-width: 600px; */
    /* padding-bottom: 1rem; */
    margin-bottom: 2rem;
  }
  
  .banner_btns {
    display: flex;
    align-items: left;
    gap: 2rem;
  }



  .banner3 {
    height: 100vh;
    vertical-align: middle;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url("../images/transport1\ \(2\).jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }


  .banner2 {
    height: 100vh;
    background-color: #000000;
  }






  /* -----------------------------contatct us css----------------------- */
  .contact {
    background-color: #000000;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  
  .contact_container {
    max-width: 80%;
    text-align: center;
  }
  
  .contact_container .section_subheader{
    align-items: center;
    max-width: fit-content;
    margin-inline: auto;
  }
  
  .contact_container form {
    margin-block: 2rem 1rem;
    display: block;
    align-items: center;
    gap: 1rem;
    width: 60%;
  }
  
  .contact_container input {
    /* flex: 1; */
    margin-bottom: 1rem;
    width: 100%;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    outline: none;
    border: 1px solid var(--white);
    border-radius: 5px;
  }
  
  .contact_container .btn {
    /* flex: 1; */
    justify-content: center;
  }
  
  .contact_container .para a {
    color: var(--primary-color);
  }